/*UTILITY CLASSES*/
.padding-top-thirty{
    padding-top:30px;
}
.padding-left-20{
    padding-left:20px;
}



input[type="text"]:focus, input[type="password"]:focus, textarea:focus, textarea.form-control:focus,select.form-select:focus{
    background-color: rgba(37, 37, 37, 0.14)!important;
}
select.form-control
.form-top-right {
    float: left;
    width: 20%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}
.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}
.form-top-left{
    float: left;
    margin-top: 30px;
}

.registration-box{
    width:500px;
}

.input-group{
    margin-bottom:20px;
}
.input-group-addon{
    padding:10px;
    background-color: rgba(108, 108, 108, 0.17);
    /*color: rgba(219, 219, 219, 0.59);*/
    background: #666;
    color: #fff;
    font-weight: 600;
}
.wrap-pic-w img{
    height:280px;
}
.block2-labelnew::before {
    background-color: #66a8a6;
    content: none;
}

.p-b-54{
    /*height:300px;*/
    overflow:auto;
}

tbody tr td:last-child{
    text-align:center!important;
}
.style-span a{
    font-weight:600;
    color:#e65540;
}
.style-span a:hover{
    text-decoration: dotted;
}
.block2-btn-towishlist, .block2-btn-addwishlist{
    display:none!important;
}
.margin-bottom-40{
    margin-bottom:40px;
}

.display-none{
    display:none;
}
.transaction-id{
   border:2px solid #e6e6e6!important;
}


.logo-text{
    font-size:36px;
    line-height:1;
}

.shipping{
    background-color:#666;
}
.shipping *{
    color:#fff;
}

.block2{
    padding: 10px;
    box-shadow: 0 0 3px #00000026;
    border-radius: 5px;
}

.w-size13 img{
    max-width:100%;
}
.relateproduct .block2{
    margin-bottom:10px;
}
.xl-text2{
    font-size:40px;
}

.block3{
    border-radius:5px;
    overflow: hidden;
    border:1px solid #c3c3c3;
}

.block3 .block3-txt{
    padding:10px;
    background:#fff;
}

.bo-rad-23{
    border-radius:2px;
}
.hov1:hover {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.bg0-hov:hover{
    background-color: #28a745;
}

.color0-hov:hover {
    color: #28a745;
}
.active{
    color: #28a745!important;
}

.cart-icon{
    position: relative;
}
.cart-number{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color: #28a745;
    color:#fff;
    font-size:12px;
    position: absolute;
    top: -9px;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control.bordered{
    border:1px solid #ddd!important;
}
.remove-from-cart{
    position: absolute;
    top: 0;
    right: 3px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 0 3px #00000042;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background: #fff;
    z-index: 9;
    font-size: 20px;
}
a:hover{
    color:#28a745;
}
.leftbar{
    padding:15px;
    background-color: #f8f8f8;
}
.bg-title-page{
    margin-top:80px;
}

.category .block1-wrapbtn{
    left:15px;
    right:15px;
    transform:none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-link.disabled{
    pointer-events: none;
    opacity: 0.6;
}